@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
    --page-font: "Roboto Mono", Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    text-align: center;

    color: white;
    font-family: var(--page-font);

    margin: 0;
}

button {
    width: 200px;

    cursor: pointer;
    transition: ease-in-out 0.1s;
}

button:hover {
    scale: 1.03;
}

button:active {
    scale: 0.97;
}

input {
    text-align: center;
}

button, input {
    background: none;

    color: white;

    font-size: 15px;
    font-family: var(--page-font);

    border: 2px solid lightgray;
    border-radius: 5px;
    outline: none;

    height: 30px;
}

#container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    background-color: rgba(20, 20, 20, 0.75);
    
    border: 5px solid lightgray;
    border-radius: 15px;

    width: 350px;

    padding-bottom: 30px;
}

#page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;

    padding: 10px 0;
}