@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --font: "Jost", Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-family: var(--font);

    height: 100vh;

    margin: 0;
}

h1 {
    font-size: 28px;
    margin: 0 0 20px 0;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(20, 20, 20, 0.25);

    border: 3px solid gray;
    border-radius: 5px;

    color: white;
    font-family: var(--font);
    font-size: 15px;

    width: 80%;
    height: 35px;

    gap: 10px;

    outline: none;
    cursor: pointer;
}

button img {
    width: 16px;
}

.page {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 10px;
}

/* CONTAINERS */

#container {
    display: flex;
    background-color: rgba(40, 40, 40, 0.8);
    backdrop-filter: blur(10px);

    border: 6px solid gray;
    border-radius: 10px;

    width: 650px;
}

#pages-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    gap: 10px;
}

#wanted-levels-container {
    display: flex;
    gap: 5px;
}

#wanted-levels-container button {
    width: 35px;
    height: 35px;
}

/* PANES */

#left-pane {
    background-color: rgba(20, 20, 20, 0.25);

    width: 35%;
}

#right-pane {
    flex: 1;
}

#left-pane, #right-pane {
    padding: 40px 15px;
}