@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --font: "Jost", Arial, Helvetica, sans-serif;
    --accent: palevioletred;
}

body {
    display: flex;
    color: white;
    font-family: var(--font);
    margin: 25px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

button {
    width: 100%;
    cursor: pointer;
    transition: ease-in-out 0.1s;
}

option {
    color: black;
}

button:hover { transform: scale(1.03); }
button:active { transform: scale(0.97); }

button, input, select {
    background: none;
    height: 40px;
    font-family: var(--font);
    color: white;
    border: 3px solid var(--accent);
    outline: none;
}

button, input, select, label {
    font-size: 17px;
}

.elements {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.back {
    border: 3px solid var(--accent2);
}

.input {
    display: flex;
    align-items: center;
    gap: 8px;
}

.input label {
    text-align: center;
}

.input input[type="text"], .input input[type="number"], .input select {
    flex: 1;
    padding: 0 10px;
    margin-left: auto;
    outline: none;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(20, 20, 20, 0.8);
    backdrop-filter: blur(20px);
    border: 5px solid var(--accent);
    width: 325px;
    padding: 30px;
}