@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --font: "Jost", Arial, Helvetica, sans-serif;
    --accent: lightcoral;
}

body {
    display: flex;

    color: white;
    font-family: var(--font);

    margin: 25px;
}

button {
    width: 100%;

    transition: ease-in-out 0.1s;
}
button:hover { transform: scale(1.03); }
button:active { transform: scale(0.97); }

button, input {
    background: none;

    color: white;
    border: 3px solid var(--accent);

    height: 30px;

    font-family: var(--font);

    cursor: pointer;
}

h1 {
    text-align: center;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(20, 20, 20, 0.8);
    border: 5px solid var(--accent);

    width: 300px;

    padding: 30px;
}